<ng-container *ngIf="data$ | async as data">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Informácie o čakajúcom</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Vložte informácie o dôvode Vašej návštevy a usaďte sa
      </p>
      <mat-form-field>
        <input matInput placeholder="Meno a priezvisko" [(ngModel)]="data.name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Registračné číslo pacienta" [(ngModel)]="data.patientId">
        <mat-hint>Registračné čislo nájdete na kartičke pacienta</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Čakáte od" [value]="data.since|date:'shortTime'" readonly>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Dôvod návštevy" [(value)]="data.condition">
          <mat-option *ngFor="let condition of knownConditions$|async" [value]="condition.display">
            {{condition.display}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p>
        <span>Predpokladaná doba návštevy</span>
        <span class='slider-with-label'>
          <mat-slider placeholder="Predpokladaná doba návštevy [minúty]" min="5" max="60" step="5" thumbLabel="true"
            [(value)]="data.estimatedDurationMinutes">
          </mat-slider>
          {{data.estimatedDurationMinutes}} minút
        </span>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="save(data)">Uložiť</button>
      <button mat-button [routerLink]="['/waiting-list']">Zrušiť</button>
    </mat-card-actions>
  </mat-card>
</ng-container>
